body{
    background-color: #03081d;
    color: rgb(207, 207, 207);
}
/* modal */
.modal-content {
    background: #03081d !important; 
    opacity: 0.95;
}
.modal-backdrop{
    background-color: #03081d;
}

/* navbar */
nav{
    background-color: #03081d;
}
.logo{
    width: 100px;
    margin-top: -10px;

}
@media all and (min-width: 323px) and (max-width: 450px){
    .inicio{
      display: none;
      
  }
  .boton, .boton2{
      font-size: 13px;
  }
  .logo{
    width: 80px;
  }
}
/* Footer */
@media all and (min-width: 322px) and (max-width: 534px){
    .a{
        font-size: 13px;
    }
}
@media all and (min-width: 535px) and (max-width: 767px){
    .a{
        font-size: 15px;
    }
}
/* Botones */
.boton{
    text-decoration: none;
    border-radius: 3px ;
    color: white;
    background: #0063e5;
    
}
.boton:hover{
    text-decoration: none;
    color: white;
    background: #4090ec;
}
.boton2{
    text-decoration: none;
    border-radius: 3px ;
    color: white;

    
}
.boton2:hover{
    text-decoration: none;
    color: black;
    background: white;
}
.inicio{
    color: rgb(189, 189, 189);
    margin-top: -3px;
}
.inicio:hover{
    color: white;
}
a{
    text-decoration: none;
    color: rgb(202, 202, 202);
}
a:hover{
    color: white;
}
/* portada */
.portada{
    position: relative;
    color: white;
    display: flex;
    align-items: flex-end;
    
}
.portada:before{
    content:'';
	position: absolute;
        top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.6);
}
.textosPortada{
    position: absolute;
    margin-bottom: 75px;
}
.textosPortada h2{
    font-size: 5vmin;
}
.textosPortada p{
    font-size: 3vmin;
}
/* carrete de peliculas */
.wrapper{
    display: flex;
    overflow-x: auto;

}
.wrapper::-webkit-scrollbar{
    width: 0;
}
.wrapper .pelicula{
    min-width: 110px;
    line-height: 110px;
    margin-right: 8px;
    
}
@media all and (min-width: 322px) and (max-width: 767px){
    .portada{
        align-items: center;
    }
    .textosPortada{
        margin-bottom: 0;
    }
}
/* error 404 */

@media all and (min-width: 322px) and (max-width: 767px){
    .error{
        width: 60%!important;
    }
}

/*media queries */
/* @media mediatype */
/* device lg-grande */
@media all and (min-width: 992px){

}
/* device md-medio */
@media all and (min-width: 768px) and (max-width: 991px){

}

/* device sm-pequeño */
@media all and (min-width: 322px) and (max-width: 767px){

}
